@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Barlow:wght@400;600&display=swap");

body {
  --bege: #e6e0d6;
  --marrom-escuro: #816d4f;
  --marrom-claro: #b29463;
  font-family: "Barlow", sans-serif;
  height: 4000px;
}

input[type="checkbox"] {
  border: 2px solid var(--marrom-claro);
  box-shadow: none;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:focus {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}

footer {
  background-color: var(--marrom-claro);
}

[data-bs-theme="dark"] {
  color: white;

  .nav-link:hover,
  .card-body,
  .offcanvas,
  .accordion-item,
  .accordion-button,
  .form-select,
  i {
    color: white;
  }
}

.banner-1 {
  background-image: url(./assets/banner-1.png);
}

.banner-2 {
  background-image: url(./assets/banner-2.png);
}

.banner-3 {
  background-image: url(./assets/banner-3.png);
}

.banners {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banners-titulo {
  --bs-bg-opacity: 0.6;
}

.botao-padrao {
  background-color: var(--marrom-claro);
  color: black;
}

.botao-padrao:hover {
  background-color: var(--marrom-escuro);
}

#range1::-webkit-slider-thumb {
  background-color: var(--marrom-claro);
}
